@import url('https://fonts.googleapis.com/css?family=Imprima|Open+Sanss');
@import "./base64.css";

body{
    background: var(--astronaut-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    background-color: rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}
.salutations{
    font-family: 'Imprima', sans-serif;
    font-size: 40px;
    color: #ffff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.module-search{
    position: relative;
    width: 50%;
    left: calc(25% - 61px);
    display: inline-block;
    min-height: 57px;
}

#search-input{
    position: absolute;
    border: 0px;
    outline: none;
    background-color: #ffffff;
    color: #000;
    border-radius: 29px;
    line-height: 57px !important;
    padding: 0 90px 0 32px !important;
    min-height: 56px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: 100%;
}

.divider{
    display: inline-block;
    position: relative;
    height: 41px;
    width: 1px;
    background: #dbdbdb;
    top: 8px;
    margin-right: 10px;
}
.search-button{
    position: absolute;
    right: -100px;
}

#go_search{
    cursor: pointer;
}

.appsBackground{
    position: relative;
    width: 40vw;
    left: 30vw;
    height: 254px;
    margin-top: 100px;
}

.blur-effect{
  width: 100%;
  height: 100%;
  background: var(--astronaut-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: blur(3px);
  position: absolute;
}

.appsContainer{
    background-color: rgba(0,0,0,.3);
    position: relative;
    height: 258px;
    top:-2px;
    left:-2px;
}

.groupItem{
    display: inline-block;
    margin: 0px;
    padding: 5px 20px 8px 20px;
    background-color: rgba(0,0,0,0.25);
    color: rgba(255,255,255,.7);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.groupItem:first-of-type{
    border-bottom-left-radius: 0px;
}

.groupActivated{
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-auto-flow: row;
    text-align: center;
    grid-gap: 10px;
    grid-row-gap: 30px;
    padding: 15px 0;
 }/* Grid para distribuir os atalhos na div */

.iconApp{
    height: 50px;
    width: 50px;
}

.rounded{
    border-radius: 5px;
}

.wrapIcon{
    margin-bottom: 5px;
}

.itemList{
    display: none;
}

a,a:hover,a:visited{
    text-decoration: none;
}

.nameApp{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.bottom_bar{
    width: 100%;
    min-height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
    padding-top: 20px;
}

.weather{
    float: right;
    display: inline-block;
    margin-right: 30px;
}

#celsiusIcon{
    font-size: 20px;
}

#tempValue, #celsiusIcon{
    vertical-align: middle;
}

.temperature{
    font-family: 'Imprima', sans-serif;
    font-size: 35px;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

#weatherIcon{
    font-size: 100px;
}

.time{
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#clock>li{
    display: inline-block;
    font-size: 30px;
}
#clock{
    text-align: right;
}

@media(max-width: 750px){
    .appsBackground{
        margin-top: 20px;
        width: 90vw;
        left: 5vw;
    }
}

@media(max-width: 1000px){
    .appsBackground{
        width: 70vw;
        left: 15vw;
    }
}

@media(max-height: 600px){
    .appsBackground{
        margin-top: 20px;
    }
    .bottom_bar{
        display: none;
    }
}

@media(max-height: 650px){
    .appsBackground{
        margin-top: 50px;
    }
    .bottom_bar{
        display: none;
    }
}
